.avatar-wrapper-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  // background: #f3f4f6; // gris clair neutre
}

.selected-brand-summary__logo {
  .avatar-wrapper-custom {
    .avatar-img-custom {
      padding: 2px;
    }
  }
}

// ✅ Image chargée
.avatar-img-custom {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

// ✅ Fond blanc pour logos PNG chargés
.avatar-img-custom.brand-logo-img-loaded {
  background-color: #fff;
}

// ✅ Fallback avec initiale
.avatar-fallback-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #fff;
  border: 1px solid #f0f0f0;
}

.notif-item {
  .notif-avatar {
    .avatar-fallback-custom {
      width: 25px;
      height: 25px;
      font-size: 1rem;
    }
  }
}

// 👤 Couleurs utilisateurs
.avatar-user-color-0 {
  background-color: #5a67d8;
}
.avatar-user-color-1 {
  background-color: #ed8936;
}
.avatar-user-color-2 {
  background-color: #48bb78;
}
.avatar-user-color-3 {
  background-color: #ed64a6;
}
.avatar-user-color-4 {
  background-color: #4299e1;
}
.avatar-user-color-5 {
  background-color: #f6ad55;
}

// 🏢 Couleurs marques
.avatar-brand-color-0 {
  background-color: #26224b;
}
.avatar-brand-color-1 {
  background-color: #26224b;
}
.avatar-brand-color-2 {
  background-color: #26224b;
}
.avatar-brand-color-3 {
  background-color: #26224b;
}
.avatar-brand-color-4 {
  background-color: #26224b;
}
.avatar-brand-color-5 {
  background-color: #26224b;
}
